AddDefaultCharset UTF-8

#	скрыть список файлов в дерикториях
Options -Indexes

#	Включить модуль преобразований URL
RewriteEngine on
RewriteBase /
#	редирект сайта на https://
#RewriteCond %{SERVER_PORT} !^443$
#RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

#	Убираем слэш в конце строки URL
#	Кроме существующих дерикторий
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{HTTP_HOST} (.*)
RewriteCond %{REQUEST_URI} /$ [NC]
RewriteRule ^(.*)(/)$ $1 [L,R=301]

#	Добавляем слэш в конце строки URL
#	Кроме существующих файлов
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_URI} !(.*)/$
#RewriteRule ^(.*[^/])$ $1/ [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php [QSA,L]
