@font-face{
font-family: 'PTSans';
src: url('/templates/default/fonts/PT_Sans-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}
@font-face{
font-family: 'PTSans';
src: url('/templates/default/fonts/PT_Sans-BoldItalic.ttf') format('truetype');
font-weight: bold;
font-style: italic;
}

@font-face{
font-family: 'PTSans';
src: url('/templates/default/fonts/PT_Sans-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: 'PTSans';
src: url('/templates/default/fonts/PT_Sans-Italic.ttf') format('truetype');
font-weight: normal;
font-style: italic;
}