/*@font-face{
font-family: 'OpenSans';
src: url('/resources/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}
@font-face{
font-family: 'OpenSans';
src: url('/resources/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'Acrobat';
src: url('/resources/fonts/Acrobat/Acrobat-Bold.otf') format('truetype');
font-weight: bold;
font-style: normal;
}
@font-face{
font-family: 'Acrobat';
src: url('/resources/fonts/Acrobat/Acrobat-Light.otf') format('truetype');
font-weight: normal;
font-style: normal;
}*/